*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url(Images/pexels-arnie-chou-1229042.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 40%;
    height: 555px;
    background-color: blueviolet;
    border-radius: 16px;
    padding: 20px;
}

.search-box{
    position: relative;
    
}